@import '../shared.scss';

.header {
  @include blue-gradient;
  color: white;
  text-align: center;
  line-height: 4rem;
  font-weight: 600;
  font-size: 2rem;
  position: absolute;
  z-index: 1;
  top: 0;
  width: 100%;
  height: 11rem;
}

.content {
  position: relative;
  z-index: 1;
  padding: 4rem 0 0 0;
  box-sizing: border-box;
}

.upload-wrapper {
  width: 80%;
  margin: auto;
  .upload-logo {
    filter: invert(1) sepia(1) saturate(7) hue-rotate(100deg);
    opacity: 0.5;
    img {
      width: 4rem;
    }
  }
}

.browse {
  width: 174px;
}

.upload-progress-wrapper {
  display: flex;
  flex-flow: column;
  align-items: center;
  .upload-action {
    box-sizing: border-box;
    padding: 10px 0 0 0;
  }
  .upload.btn {
    display: inline-block;
    width: 300px;
  }
}

.results-wrapper {
  display: flex;
  flex-flow: column;
  width: 100%;
  margin: auto;
  align-items: center;

  .results {
    width: 100%;
    display: flex;
    flex-flow: column;
    padding: 0 10px;
    box-sizing: border-box;
  }

  .tags-wrapper {
    box-sizing: border-box;
    padding: 10px 0;
    border: 1px solid #d3d3d3;
    text-align: center;
    margin: 10px 0 0 0;
  }
}

@media only screen and (min-device-width : 768px) {
  .results-wrapper {
    width: 800px;

    .results {
      width: 310px;
      padding: 10px 0;
    }
  }
}
