.upload-wrapper {
  width: 80%;
  margin: auto;
  .upload-logo {
    filter: invert(1) sepia(1) saturate(7) hue-rotate(100deg);
    opacity: 0.5;
    img {
      width: 4rem;
    }
  }
}

.browse {
  width: 174px;
}

.upload-progress-wrapper {
  display: flex;
  flex-flow: column;
  align-items: center;
  .upload-action {
    box-sizing: border-box;
    padding: 10px 0 0 0;
  }
  .upload.btn {
    display: inline-block;
    width: 300px;
  }
}

.results-wrapper {
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 400px;
  margin: auto;
  align-items: center;

  > div {
    display: flex;
    flex-flow: column;
    padding: 0 10px;
    box-sizing: border-box;
  }

  .results {
    width: 100%;
    padding: 10px 0 0 0;
  }

  .tags-wrapper {
    box-sizing: border-box;
    padding: 10px 0;
    border: 1px solid #d3d3d3;
    text-align: center;
    margin: 10px 0 0 0;
  }
}

@media only screen and (min-device-width : 769px) {
  .results-wrapper {
    display: flex;
    flex-flow: column;
    width: 800px;
    height: 400px;

    .results {
      width: 310px;
    }
  }
}
